<div class="w25 md-w33 sm-w50">
    <div class="article-small">
        <div class="image" data-m-field="image"><img src="~image~" data-m-field="image"></div>
        <h3><a href="~path~" data-m-field="title">~title~</a></h3>
        <p class="description" data-m-field="description">~description~</p>
        <div class="article-small-bottom">
            <i class="fa fa-user-circle-o"></i> ~author_name~
            <span class="flt-r"><i class="fa fa-calendar-o"></i> ~beautiful_date~</span>
        </div>
    </div>
    ~edit_bar~
</div>