<li class="product product-block ~availability_class~" data-id="~id~" id="slide_~id~">

    <div class="block">
        <a href="~path~" class="img-block" style="background-image: url('~image~');"></a>
        <div class="product-code">*Code*: <b>~code~</b></div>
        <div class="availability">~availability~</div>
        <dl class="properties hidden">
            <dt>*Short code*</dt><dd><b>~code~</b></dd>
            ~dl_properties~
        </dl>
        <a href="~path~" class="item-link">~name~</a>
        <div class="row item-bar">
            <span class="price float-left">~beautiful_price~</span>
            <span class="currency float-left">~currency_name~</span>
            <a class="btn float-right buy-button"><i class="fa fa-shopping-basket"></i> *Buy*</a>
            <div class="clearfix"></div>
        </div>
    </div>

</li>