<tr data-id="~id~">
    <td width="10%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/carousels/edit/~id~" title="*Edit*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/carousels/delete/~id~" title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this slide*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left"><a href="~page_path~" target="_blank">~page_name~</a></td>
    <td width="30%" class="text-left">~title~</td>
    <td width="20%" class="text-left">~link~</td>
    <td width="20%" class="text-left"><img src="~image~" height="60"></td>
</tr>